@using IT.WebServices.Fragments.Content;
@namespace IT.WebHost.Components.Content

@if (Content.Count() == 0)
{
    <div class="flex flex-1 items-center justify-center py-12">
        <BbAlert Variant="AlertVariant.Warning">
            <BbAlertTitle>No Content</BbAlertTitle>
            <BbAlertDescription>No content items to display.</BbAlertDescription>
        </BbAlert>
    </div>
}
else
{
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        @foreach (var item in Content)
        {
            <ContentCard @key="item.ContentID" Content="@item" Url="@($"/content/{item.URL.TrimStart('/')}")" />
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<ContentListRecord> Content { get; set; } = [];
}
