@page "/admin/content"
@layout AdminLayout
<PageTitle>Content</PageTitle>

<div class="space-y-4">
    <h1 class="text-2xl font-bold">Content</h1>
    <ContentTable Content="@ContentRecords" PageSize="(int)PageSizeParsesd"/>
</div>

