@page "/admin/content"
@layout AdminLayout
@using IT.WebServices.Fragments.Content
@using IT.WebHost.Components.Forms
<PageTitle>Content</PageTitle>

<div class="space-y-4">
    <h1 class="text-2xl font-bold">Content</h1>

    <AdminSearchContentForm @bind-query="_query"
                            pageSize="PageSizeParsed"
                            pageSizeChanged="OnPageSizeSelectChanged"
                            @bind-contentType="_contentType"
                            @bind-channelId="_channelId"
                            @bind-categoryId="_categoryId"
                            Channels="Channels"
                            Categories="Categories"
                            OnSearch="HandleSearchKey" />

    <ContentTable Content="@ContentRecords" PageSize="(int)PageSizeParsed" IsLoading="@_isLoading" />

    <BbPagination TotalPages="TotalPages"
                  CurrentPage="CurrentPage"
                  OnPageChanged="OnPageChanged" />
</div>
