@using IT.WebHost.Core.Services
@using IT.WebServices.Fragments.Content
@using Microsoft.AspNetCore.Components
@using BlazorBlueprint.Components

@inject ContentInterface.ContentInterfaceClient ContentClient
@inject SiteSettingsService SiteSettingsService

<div class="container mx-auto py-8">
    <BbCard>
        <BbCardHeader>
            <BbCardTitle>Members Area</BbCardTitle>
            <BbCardDescription>Welcome to the exclusive members area</BbCardDescription>
        </BbCardHeader>
        <BbCardContent>
            <p class="text-muted-foreground">
                This is the members-only content area. Access to exclusive content and features will be available here.
            </p>
        </BbCardContent>
    </BbCard>
</div>