@namespace IT.WebHost.Components.Merch
@using IT.WebServices.Fragments.Merch
<BbCard class="w-full overflow-hidden flex flex-col">
    <div class="relative aspect-[1/1.25] overflow-hidden">
        <img src="@($"http://localhost:8001/api/cms/asset/{Data.FeaturedImage.ImageAssetID}/data")" alt="Featured Image" class="w-full h-full object-cover transition-transform hover:scale-105" />
    </div>
    <BbCardHeader>
        <BbCardTitle>@(Data.Title)</BbCardTitle>
    </BbCardHeader>
    <BbCardContent class="flex-1 overflow-hidden">
        <BbCardDescription class="line-clamp-3">@((MarkupString)Data.Description)</BbCardDescription>
    </BbCardContent>
    <BbCardFooter class="flex justify-between mt-auto">
        <div class="flex flex-col space-y-2">
            <span class="text-lg font-bold">$@(Data.PriceCents / 100)</span>
            @if (Data.InStock)
            {
                <BbBadge Variant="BadgeVariant.Default">In Stock</BbBadge>
            } 
            else
            {
                <BbBadge Variant="BadgeVariant.Destructive">Out Of Stock</BbBadge>
            }
        </div>
        <BbButton>Shop</BbButton>
    </BbCardFooter>
</BbCard>

@code {
    [Parameter] public GenericMerchRecord Data { get; set; } = null!;
}