@page "/"
@using IT.WebHost.Components.Content
<PageTitle>Home - IT.WebHost.CMS</PageTitle>

<div class="container py-10">
   <ContentFeed
       InitialContent="ContentRecords"
       Layout="Layout"
       NextPageOffset="NextPageOffset"
       PageSize="PageSize"
       TotalItems="TotalItems" />
</div>

