@page "/profile"
@using IT.WebHost.Components.Profile
<div class="container max-w-3xl py-12 mx-auto">
    <ProfileHeader User="UserRecord" />
    <ProfileTabs User="UserRecord" SubscriptionRecords="SubscriptionRecords" />
</div>

