@page "/search"
@using IT.WebHost.Components.Content
@using IT.WebHost.Components.Forms
@using IT.WebHost.Components.Forms.Fields

<div class="container mx-auto py-8 space-y-6">
    <SearchContentForm query="Query"
                       pageSize="PageSizeParsed"
                       pageOffset="PageOffsetParsed"
                       contentType="Type"
                       categoryId="CategoryId"
                       channelId="ChannelId"
                       tags="TagsParsed"
                       onlyLive="OnlyLive" />

    <ContentGridView Content="ContentRecords" />

    <div class="flex justify-center py-4">
        <Pagination PageOffset="PageOffsetParsed"
                    PageSize="PageSizeParsed"
                    PageTotalItems="TotalItems"
                    BaseUrl="@BaseUrl" />
    </div>
</div>
