@using IT.WebServices.Fragments.Authentication
@namespace IT.WebHost.Components.Forms

<div class="space-y-4">
    <div class="space-y-2">
        <BbLabel For="password">Current Password</BbLabel>
        <BbInput Id="password" Type="InputType.Password" @bind-Value="FormData.OldPassword" />
        <p class="text-xs text-muted-foreground">Must be at least 8 characters long.</p>
    </div>
    <div class="space-y-2">
        <BbLabel For="password">New Password</BbLabel>
        <BbInput Id="password" Type="InputType.Password" @bind-Value="FormData.NewPassword" />
        <p class="text-xs text-muted-foreground">Must be at least 8 characters long.</p>
    </div>
</div>

@code {
    [Parameter] public EventCallback<ChangeOwnPasswordRequest> OnSubmit { get; set; }
    [Parameter] public Action<Func<Task>>? RegisterSubmit { get; set; }

    private ChangeOwnPasswordRequest FormData { get; set; } = new ChangeOwnPasswordRequest();

    protected override void OnInitialized() => RegisterSubmit?.Invoke(HandleSubmit);

    private async Task HandleSubmit() => await OnSubmit.InvokeAsync(FormData);
}
