@using IT.WebServices.Fragments.Authentication
@namespace IT.WebHost.Components.Forms
<div class="space-y-4">
    <div class="space-y-2">
        <BbLabel For="username">Email / Username</BbLabel>
        <BbInput Id="username" Type="InputType.Text" Placeholder="m@example.com" @bind-Value="userName" />
    </div>
    <div class="space-y-2">
        <div class="flex items-center justify-between">
            <BbLabel For="password">Password</BbLabel>
            <a href="#" class="text-sm text-muted-foreground underline-offset-4 hover:underline">
                Forgot your password?
            </a>
        </div>
        <BbInput Id="password" Type="InputType.Password" @bind-Value="password" />
    </div>
    <BbButton Class="w-full" @onclick="HandleSubmit">
        Login
    </BbButton>
    <div class="relative">
        <div class="absolute inset-0 flex items-center">
            <BbSeparator />
        </div>
        <div class="relative flex justify-center text-xs uppercase">
            <span class="bg-card px-2 text-muted-foreground">Or continue with</span>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback<AuthenticateUserRequest> OnSubmit { get; set; }

    private string userName = string.Empty;
    private string password = string.Empty;

    private async Task HandleSubmit()
    {
        AuthenticateUserRequest request = new AuthenticateUserRequest
        {
            UserName = userName,
            Password = password,
            MFACode = string.Empty
        };
        await OnSubmit.InvokeAsync(request);
    }
}