@using IT.WebServices.Fragments.Authentication
@namespace IT.WebHost.Components.Forms

<div class="space-y-4">
    <div class="space-y-2">
        <BbLabel For="displayname">Display Name</BbLabel>
        <BbInput Id="displayname" Placeholder="johndoe" @bind-Value="_displayName" Disabled="!EditModeEnabled"/>
    </div>
    <div class="space-y-2">
        <BbLabel For="email">Email</BbLabel>
        <BbInput Id="email" Type="InputType.Email" Placeholder="m@example.com" @bind-Value="_email" Disabled="!EditModeEnabled" />
        <p class="text-xs text-muted-foreground">
            We'll use this to contact you. We will not share your email with anyone else.
        </p>
    </div>
    <div class="space-y-2">
        <BbLabel For="bio">Bio</BbLabel>
        <BbTextarea Id="bio" @bind-Value="_bio" Disabled="!EditModeEnabled" />
    </div>
    <div class="space-y-2">
        <BbLabel For="first-name">First Name</BbLabel>
        <BbInput Id="first-name" Type="InputType.Text" @bind-Value="_firstName" Disabled="!EditModeEnabled" />
    </div>
    <div class="space-y-2">
        <BbLabel For="last-name">Last Name</BbLabel>
        <BbInput Id="last-name" Type="InputType.Text" @bind-Value="_lastName" Disabled="!EditModeEnabled" />
    </div>
    <div class="space-y-2">
        <BbLabel For="postal-code">Postal/Zip Code</BbLabel>
        <BbInput Id="postal-code" Type="InputType.Text" @bind-Value="_postalCode" Disabled="!EditModeEnabled" />
    </div>
    @if (EditModeEnabled)
    {
        <BbButton Class="w-full" @onclick="HandleSubmit">Save Changes</BbButton>
        <BbButton Class="w-full" @onclick="ToggleEditMode">Discard Changes</BbButton>
    } else
    {
        <BbButton Class="w-full" @onclick="ToggleEditMode">Edit</BbButton>
    }
</div>

@code {
    [Parameter] public EventCallback<ModifyOwnUserRequest> OnSubmit { get; set; }
    [Parameter] public string userId { get; set; } = string.Empty;
    [Parameter] public string bio { get; set; } = string.Empty;
    [Parameter] public string displayName { get; set; } = string.Empty;
    [Parameter] public string email { get; set; } = string.Empty;
    [Parameter] public string firstName { get; set; } = string.Empty;
    [Parameter] public string lastName { get; set; } = string.Empty;
    [Parameter] public string postalCode { get; set; } = string.Empty;

    private string _bio = string.Empty;
    private string _displayName = string.Empty;
    private string _email = string.Empty;
    private string _firstName = string.Empty;
    private string _lastName = string.Empty;
    private string _postalCode = string.Empty;

    private bool EditModeEnabled { get; set; } = false;

    protected override void OnParametersSet()
    {
        if (!EditModeEnabled)
            ResetFields();
    }

    private void ResetFields()
    {
        _bio = bio;
        _displayName = displayName;
        _email = email;
        _firstName = firstName;
        _lastName = lastName;
        _postalCode = postalCode;
    }

    private async Task HandleSubmit()
    {
        ModifyOwnUserRequest request = new ModifyOwnUserRequest
            {
                UserID = userId,
                DisplayName = _displayName,
                Bio = _bio,
                Email = _email,
                FirstName = _firstName,
                LastName = _lastName,
                PostalCode = _postalCode
            };

        await OnSubmit.InvokeAsync(request);
    }

    public void ToggleEditMode()
    {
        EditModeEnabled = !EditModeEnabled;
        if (!EditModeEnabled)
            ResetFields();
        StateHasChanged();
    }
}
