@page "/admin/settings/subscription/tiers"
@layout AdminLayout
@using IT.WebHost.CMS.Components.Admin.Forms

<PageTitle>Subscription Tiers</PageTitle>

<div class="space-y-4">
    <h1 class="text-2xl font-bold">Tiers</h1>
    <SubscriptionTierForm Data="@_data" OnSubmit="HandleSubmit" />
</div>
