@inherits LayoutComponentBase
<AppProvider>

<div class="flex flex-col w-full min-h-screen bg-background">

    <Navbar />

    <div class="flex-1 flex items-center justify-center p-6 md:p-8">
        @Body
    </div>

</div>

<ToastViewport />
<DialogHost />
<ContainerPortalHost />
<OverlayPortalHost />
</AppProvider>
