@page "/admin/settings/cms/categories"
@layout AdminLayout

<PageTitle>Categories</PageTitle>

<div class="space-y-4">
    <h1 class="text-2xl font-bold">Categories</h1>
    <BbEmpty Title="No Categories"
             Description="Get started by creating a category.">
        <Icon>
            <LucideIcon Name="tag" class="h-12 w-12" />
        </Icon>
    </BbEmpty>
</div>
