@page "/admin/settings/merch"
@layout AdminLayout

<PageTitle>Merch Settings</PageTitle>

<div class="space-y-4">
    <h1 class="text-2xl font-bold">Merch</h1>
    <div class="flex flex-wrap gap-4">
        <NavCard Title="Providers" Description="Manage your merchandise providers." Link="/admin/settings/merch/providers" />
        <NavCard Title="Stores" Description="View and manage the storefronts for merch providers" Link="/admin/settings/merch/stores" />
    </div>
</div>
