@page "/"
@using IT.WebHost.Components.Content
@using IT.WebHost.Core.Clients
@using IT.WebServices.Fragments.Content
@inject ContentClient ContentClient
@inject IT.WebHost.App.Services.SiteSettingsService SiteSettings

<PageTitle>Home - @SiteSettings.SiteTitle</PageTitle>

<div class="container py-10">
    <div class="mx-auto max-w-3xl space-y-8">
        @foreach (var record in contentListRecords)
        {
            <ContentCard Content="@record" Url="@($"/post/{record.ContentID}")" />
        }
    </div>
</div>

@code {
    private readonly List<ContentListRecord> contentListRecords = new List<ContentListRecord>();

    protected override async Task OnInitializedAsync()
    {
        var req = new GetAllContentRequest
        {
            // TODO: Remove offset
            PageOffset = 50,
            PageSize = 10,
        };

        var res = await ContentClient.GetAllContentAsync(req);

        if (res.PageTotalItems > 0)
        {
            contentListRecords.AddRange(res.Records);
        }
    }
}
