@page "/login"
@using IT.WebHost.Components.Forms
@using IT.WebServices.Fragments.Authentication

<PageTitle>Login - IT.WebHost.App</PageTitle>

<div class="flex flex-1 items-center justify-center">
<BbCard class="w-full max-w-sm">
    <BbCardHeader>
        <BbCardTitle class="text-2xl">Login to your account</BbCardTitle>
        <BbCardDescription>Enter your email below to login to your account</BbCardDescription>
    </BbCardHeader>
    <BbCardContent>
       <LoginForm onsubmit="HandleLogin"/>
    </BbCardContent>
    <BbCardFooter>
        <div class="w-full text-center text-sm text-muted-foreground">
            Don't have an account?
            <a href="#" class="text-primary underline-offset-4 hover:underline">Sign up</a>
        </div>
    </BbCardFooter>
</BbCard>
</div>

@code {
    private async Task HandleLogin(AuthenticateUserRequest req) {
        // Call Auth Handlers Here
    }
}