@using IT.WebServices.Authentication
@using IT.WebServices.Fragments.Authentication

<Button Variant="ButtonVariant.Outline" Size="ButtonSize.Small" @onclick="OpenDialog">
    <LucideIcon Name="key-round" class="h-4 w-4 mr-1.5" />
    Reset Password
</Button>

<Dialog @bind-Open="isOpen">
    <DialogContent>
        <DialogHeader>
            <DialogTitle>Reset Password</DialogTitle>
            <DialogDescription>
                Reset the User's Password
            </DialogDescription>
        </DialogHeader>
        <Field>
            <FieldLabel>
                <div class="flex items-center justify-between w-full">
                    <span>New Password</span>
                </div>
            </FieldLabel>
            <FieldContent>
                <Input Id="password"
                       Type="InputType.Password"
                       @bind-Value="newPassword" />
            </FieldContent>
        </Field>
        <Field>
            <FieldLabel>
                <div class="flex items-center justify-between w-full">
                    <span>Confirm New Password</span>
                </div>
            </FieldLabel>
            <FieldContent>
                <Input Id="confirm-password"
                       Type="InputType.Password"
                       @bind-Value="confirmNewPassword" />
            </FieldContent>
        </Field>
        <DialogFooter>
            <button>Cancel</button>
            <button>Save</button>
        </DialogFooter>
    </DialogContent>
</Dialog>

@code {
    // TODO: Pass Injects As Params
    [Inject] public UserInterface.UserInterfaceClient UserClient { get; set; } = null!;
    [Inject] public ONUserHelper UserHelper { get; set; } = null!;
    [Parameter] public string userId { get; set; } = null!;
    private string newPassword { get; set; } = string.Empty;
    private string confirmNewPassword { get; set; } = string.Empty;
    private bool isOpen { get; set; } = false;

    private async Task ResetUserPassword()
    {
        // TODO: Add Confirm Password Matching and Validation
        var req = new ChangeOtherPasswordRequest
            {
                UserID = userId,
                NewPassword = newPassword
            };

        var res = await UserClient.ChangeOtherPasswordAsync(req, UserHelper.GetGrpcCallOptions());

        // TODO: Handle Response
        // TODO: Close
    }

    private void OpenDialog()
    {
        isOpen = true;
    }

    private void CloseDialog()
    {
        isOpen = false;
    }
}
